{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<main>
    <p class="display-5" id="textalign">Welcome Gentlemen!</p>
    <h2 id="textalign">to the Boys Book Club</h2><br>
    <figure class="text-center">
<!-- Another Bootstrap class to help with text style -->
        <blockquote class="blockquote">
          <p>We can suggest books and vote on the ones we would like to read</p>
          <p>Quick rundown: At the top of the webpage, just click where you want to go</p>
          <p>You can make suggestions, even change them! Or you can see what everyone has recommended</p>
          <p>As well as vote on what books you want and see the final results</p>
        </blockquote>
        <img src="/static/book.jpg" class="img-fluid w-25" alt="ahhh">
    </figure>
</main>




{% endblock %}