{% extends "layout.html" %}

{% block title %}
    Make a suggestion
{% endblock %}

{% block main %}
    <form action="/suggest" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="name" type="text">
        </div>
        <!-- Using textarea instead of input so a long book title will fit in the box-->
        <div class="mb-3">
            <textarea rows="1" cols="70" class="form-control mx-auto w-auto" name="suggest1" placeholder="First Book Suggestion" type="text"></textarea>
        </div>
        <div class="mb-3">
            <textarea rows="1" cols="70" class="form-control mx-auto w-auto" name="suggest2" placeholder="Second Book Suggestion" type="text"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit yo!</button>
    </form>
    <br>
    <img src="/static/dogreading.jpg" class="img-fluid w-25" alt="ahhh">

{% endblock %}